<div class="card">
    <div class="card-image">
      <img [src]="imageUrl" alt="{{ productName }}" />
    </div>
  
    <div class="card-content">
      <h2 class="product-name">{{ productName }}</h2>
  
      <p class="product-description">{{ description }}</p>
  
      <div class="product-details">
        <span class="detail"><strong>Size:</strong> {{ size }}</span>
        <span class="detail"><strong>Color:</strong> {{ color }}</span>
      </div>
  
      <div class="product-price-stock">
        <span class="price">{{ price }}</span>
        <span class="stock">
          {{ stock <= 5 ? '¡Últimas unidades!' : stock + ' disponibles' }}
        </span>
      </div>
      <app-add-to-cart></app-add-to-cart>
    </div>
  </div>